* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#root {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*height: 100vh;*/
  min-width: 100vw;
  background-color: #010426f3;
  padding: 1rem;
}

.section-container {
  width: 100vw;
  max-height: 75vh; /**/
  min-height: 55vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.page-menu { 
  grid-area: 1 / 1 / 7 / 2;
}

.page-content { 
  grid-area: 1 / 2 / 7 / 6; 
  max-width: 90%;
  margin: 2rem 2rem 1rem 0rem;
  overflow-y: scroll;
}

.page-content-choice { 
  grid-area: 1 / 2 / 4 / 5; 
  display: flex;
  flex-direction: column;
}

.page-result { 
  grid-area: 4 / 2 / 7 / 5;
  max-height: 80vh;
  /*overflow-y: scroll;*/
}

.list-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /*grid-template-rows: repeat(2, 1fr);*/
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-auto-flow: row;
}

h1 {
  margin-left: 15px;
  font-size: 2rem;
  color: rgb(255, 115, 39);
  text-transform: uppercase;
  font-family: 'Mina-Bold';
}

.page-menu li {
  list-style: none;
  font-size: 1.5rem;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #040424;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.page-menu li a{
  margin-left: 1rem;
  text-align: center;
  font-weight: 500;
  text-overflow: clip;
}
.page-menu li a:hover {
  color: #0cf4f6;
}

label {
  color: white;
}
@font-face {
  font-family: 'Mina-Bold';
  src: url(../../assets/fonts/Mina/Mina-Bold.ttf);
}

/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/