.new-list-container {
    width: 100vw;
    max-height: 75vh;
    min-height: 55vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-rows: repeat(4, 1fr);*/
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    overflow-y: scroll;
}